

.font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: #B8BB26
}

#main-view{
    -fx-background-color: #282828;
}

#grid-pane{
    -fx-background-color: #282828;
}

/*

 STYLING THE SCROLL PANE

*/

.scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-pref-width: 10;

}



.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2.0em;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: derive(#282828,90%);
    -fx-background-insets: 2 0 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar:vertical *.increment-arrow .content,
.scroll-bar:vertical *.decrement-arrow .content{

}

.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0;
}

.scroll-pane .corner{

}

.scroll-pane > .viewport{
    -fx-background-color: #282828;
}

.scroll-pane{
    -fx-background-color: #282828;

}
