.root{
    -fx-primary-color: #4D4D4D;
    -fx-ikons-color: #CCCCCC;
    -fx-background-color: -fx-primary-color;
}

.font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -fx-ikons-color
}

.font-icon-128,
.font-icon-64,
.font-icon-48,
.font-icon-32
{

    -fx-icon-color: -fx-ikons-color
}

.text-field{
    -fx-text-fill: derive(-fx-primary-color,90%);
    -fx-background-color: -fx-primary-color;
    -fx-border-color:derive(-fx-ikons-color,60%);
    -fx-border-radius: 2;
}

.label{
    -fx-text-fill: derive(-fx-primary-color,90%);
}


.check-box > .box {
    -fx-background-color: derive(-fx-primary-color,90%);

}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark{
    -fx-background-color: -fx-primary-color;

}



.combo-box-base,
.combo-box{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: derive(-fx-primary-color,90%);
    -fx-border-color:derive(-fx-ikons-color,60%);
    -fx-border-radius: 2;
}

.combo-box .list-cell{
    -fx-text-fill:derive(-fx-primary-color,90%);
}

.list-cell,
.cell,
.indexed-cell{
    -fx-background-color: -fx-primary-color;
}

.list-view{
    -fx-background-color: -fx-primary-color;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-text-fill: derive(-fx-primary-color,90%);
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: derive(-fx-primary-color,90%);
}

#main-view{
    -fx-background-color: -fx-primary-color;
}

#grid-pane{
    -fx-background-color: -fx-primary-color;
}




/*

 STYLING THE SCROLL PANE

*/

.scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-pref-width: 10;

}



.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2.0em;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary-color,90%);
    -fx-background-insets: 2 0 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar:vertical *.increment-arrow .content,
.scroll-bar:vertical *.decrement-arrow .content{

}

.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0;
}

.scroll-pane .corner{

}

.scroll-pane > .viewport{
    -fx-background-color: -fx-primary-color;
}

.scroll-pane{
    -fx-background-color: -fx-primary-color;

}
